* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    background-color: #0163e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-icon {
    background-color: #fff;
    color: #0163e6;
    font-weight: bold;
    border-radius: 50%;
    padding: 15px;
}

.logo-text {
    font-size: 2.5em;
    font-family: 'Swift Neue', serif;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    font-family:'Schibsted+Grotesk', sans-serif;
}

.nav-link.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: white;
    position: absolute;
    bottom: -3px;
    left: 0;
}

.logo-img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.nav-links-container {
    display: flex;
    margin-right: 30px;
}

.nav-link:last-child {
    padding-right: 15px;
}
